.container, .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container div {
    color: whitesmoke;
    width: 80%;
    padding: 10px 0;
    text-align: center;
    border-radius: 15px;;
}

.header {
    font-size: 24px;
    font-weight: bold;
    background-color: #9F2063;
}

.main {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
}

.main div {
    width: 100%;
}

.content {
    background-color: #24BB7C;
}

.content span {
    width: 95%;
    border-radius: 15px;
    margin: 10px 0;
    padding: 10px 0;
}

.article {
    background-color: #E4195B;
}

.aside {
    background-color: #116395;
}

.footer {
    background-color: #F9A800;
}

/* Responsive Design */
@media (min-width: 900px) {
    .main {
        flex-direction: row;
        justify-content: space-between;
        gap: 10px;
    }

    .aside {
        order: -1;
        flex: 1;
    }

    .content {
        order: 0;
        flex: 3;
    }

}